{% extends "base.html" %}
{% block title %} Graphique {% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Dashboard</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="/">Acceuil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Dashboard</a> <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Rechercher">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
        </form>
      </div>
    </nav>
</head>
<body>

<div class="row pt-5 ml-5 mr-5">
    <div class="col-sm-6">
            <div class="border border-primary">
        <canvas id="monGraph" width="400" height="150"></canvas>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>
        <script>
            var donnees = []
            {% for moi in nbr_moi: %}
                donnees.push({{moi}})
            {% endfor %}
            let ctx = document.querySelector("#monGraph")
            let graph = new Chart(ctx, {
                type: "pie",
                data: {
                    labels: ['janvier','février','mars','avril','mai','juin','juillet','août, aout','septembre','octobre','novembre','décembre'],
                    datasets: [{
                        label: 'Nombre de votes',
                        data: donnees,
                        backgroundColor: ['red', 'blue', 'yellow', 'green', 'purple', 'orange','pink', 'white', 'grey', 'brown', 'silver', 'black']
                    }]

                },
                options: {
                    title: {
                        display: true,
                        text: 'Nombre de bon de commande par mois'
                    },
                    legend: {
                        position: 'bottom'
                    }
                    // scales: {
                    //     yAxes: [{
                    //         ticks: {
                    //             beginAtZero: true
                    //         }
                    //     }]
                    // }
                }
            })
        </script>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="border border-primary">
        <canvas id="monGraph2" width="400" height="150"></canvas>
        <script>
            var donnees2 = []
            {% for gest in Tab_gestion: %}
                donnees2.push({{ gest }})
            {% endfor %}
            var ctx2 = document.getElementById('monGraph2');
            var myChart2 = new Chart(ctx2, {
                type: 'bar',
                data: {
                    labels: ['Thierno Diakhaby','Moussa Deme','Oumar Niang','Daouda Kane'],
                    datasets: [{
                        label: 'Nombre de Validation durant Gestion',
                        data: donnees2,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(50, 152, 10 , 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(50, 152, 10 , 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>
            </div>
    </div>
</div>
<div class="row pt-5 ml-5 mr-5">
    <div class="col-sm-6">
            <div class="border border-primary">
        <canvas id="monGraph3" width="400" height="150"></canvas>
        <script>

            var donnees_done = []
            {% for prix in Tab_done: %}
                donnees_done.push({{ prix }})
            {% endfor %}
            var donnees_clear = []
            {% for prix1 in Tab_clear: %}
                donnees_clear.push({{ prix1 }})
            {% endfor %}
            var donnees_empty = []
            {% for prix2 in Tab_empty: %}
                donnees_empty.push({{ prix2 }})
            {% endfor %}
            let ctx3 = document.querySelector("#monGraph3")
            let graph3 = new Chart(ctx3, {
                type: "bar",
                data: {
                      labels: ['janvier','février','mars','avril','mai','juin','juillet','aout','septembre','octobre','novembre','décembre'],
                      datasets: [
                        {
                          label: "Valider",
                          backgroundColor: "green",
                          data: donnees_done
                        },
                        {
                          label: "En traitement",
                          backgroundColor: "yellow",
                          data: donnees_empty
                        },{
                          label: "Annuler",
                          backgroundColor: "red",
                          data: donnees_clear
                        }
                      ]
                    },
                    options: {
                      title: {
                        display: true,
                        text: 'Evolution des bon d\'achat'
                      }
                    }
                });

        </script>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="border border-primary">
        <canvas id="monGraph4" width="400" height="150"></canvas>
        <script>
            var donnees_done = []
            {% for prix in Tab_done: %}
                donnees_done.push({{ prix }})
            {% endfor %}
            var donnees_clear = []
            {% for prix1 in Tab_clear: %}
                donnees_clear.push({{ prix1 }})
            {% endfor %}
            var donnees_empty = []
            {% for prix2 in Tab_empty: %}
                donnees_empty.push({{ prix2 }})
            {% endfor %}
            var ctx4 = document.getElementById('monGraph4');
            var myChart4 = new Chart(ctx4, {
                type: 'line',
                data: {
                        labels: ['janvier','février','mars','avril','mai','juin','juillet','aout','septembre','octobre','novembre','décembre'],
                        datasets: [{
                            data: donnees_done,
                            label: "Valider",
                            borderColor: "rgba(50, 152, 10 , 0.8)",
                            fill: false
                          }, {
                            data: donnees_clear,
                            label: "Annuler",
                            borderColor: "rgba(255, 99, 132, 1)",
                            fill: false
                          }, {
                            data: donnees_empty,
                            label: "En traitement",
                            borderColor: "rgba(255, 206, 86, 1)",
                            fill: false
                          }
                        ]
                      },
                      options: {
                        title: {
                          display: true,
                          text: 'Evolution des bon d\'achat'
                        }
                      }
                    });
        </script>
            </div>
    </div>
</div>
<div class="row pt-5 ml-5 mr-5">
    <div class="col-sm-6">
            <div class="border border-primary">
        <canvas id="monGraph5" width="400" height="150"></canvas>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>
        <script>
            var donnees5 = []
            {% for budg in Tab_budget: %}
                donnees5.push({{ budg }})
            {% endfor %}
            var ctx5 = document.getElementById('monGraph5');
            var myChart5 = new Chart(ctx5, {
                type: 'bar',
                data: {
                    labels: ['Thierno Diakhaby','Moussa Deme','Oumar Niang','Amadou Barry'],
                    datasets: [{
                        label: 'Nombre de Validation durant phase Budget',
                        data: donnees5,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(50, 152, 10 , 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(50, 152, 10 , 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="border border-primary">
        <canvas id="monGraph6" width="400" height="150"></canvas>
        <script>
            var donnees6 = []
            {% for ach in Tab_achat: %}
                donnees2.push({{ ach }})
            {% endfor %}
            var ctx6 = document.getElementById('monGraph6');
            var myChart6 = new Chart(ctx6, {
                type: 'bar',
                data: {
                    labels: ['Thierno Diakhaby','Moussa Deme','Oumar Niang','Amadou Barry','Daouda Kane'],
                    datasets: [{
                        label: 'Nombre de Validation durant Gestion',
                        data: donnees2,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(50, 152, 10 , 0.2)',
                            'rgba(15, 120, 120, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(50, 152, 10 , 1)',
                            'rgba(15, 120, 120, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>
            </div>
    </div>
</div>
<div class="pt-5"/>
</body>
<style>
    .foot
    {
        padding: 30px;
         position:absolute;
         width:100%;
         background-color: #E0E0E0;
    }
    .row .col-xs-6{
    height: 100px;
    background-color: black;
    color: white;
    }
</style>
{% endblock %}
